
<footer class="mat-elevation-z2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Your Company. Todos los derechos reservados.</p>
        <p>Contáctanos: info&#64;yourcompany.com</p>
      </div>
      <div class="col-md-6 text-md-right">
        <mat-icon class="mr-3" aria-label="Facebook">facebook</mat-icon>
        <mat-icon class="mr-3" aria-label="Twitter">twitter</mat-icon>
        <mat-icon aria-label="LinkedIn">linkedIn</mat-icon>
      </div>
    </div>
  </div>
</footer>
